---
import bgImage from "../../public/bg-image.png";
import bgImage2 from "../../public/bg-image2.webp";
import { Image } from "astro:assets";
import Button from "./ui/button.astro";
const slide = {
  imgSrc: bgImage,
  imgAlt:
    "Vibrant abstract painting with swirling blue and light pink hues on a canvas.",
  subHeading: "Welcome to Green Agri Corp Pvt Ltd",
  title:
    "Manufacturing and distributing premium-quality rice to aspiring nations for over 50 years.",
  description: `With India's largest production facility, we proudly export over 300,000 tonnes of rice annually to 25 countries worldwide.`,
  ctaUrl: "https://example.com",
  ctaText: "Get a Quote",
};
---

<style scoped>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-enter-active {
    animation: fadeIn 1s ease-in;
  }

  .fade-leave-active {
    animation: fadeOut 0.01s ease-out;
  }
</style>

<div class="relative w-full overflow-hidden my-auto transition-all">
  <!-- previous button -->
  <button
    type="button"
    class="absolute md:left-5 md:top-1/2 z-20 md:flex md:rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white
      bottom-5 md:bottom-auto md:right-auto right-16 rounded-none"
    aria-label="previous slide"
    id="previousButton"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke="currentColor"
      fill="none"
      stroke-width="3"
      class="size-5 md:size-6 pr-0.5"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"></path>
    </svg>
  </button>
  <!-- next button -->
  <button
    type="button"
    class="absolute right-5 md:top-1/2 z-20 md:flex md:rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white
      bottom-5 md:bottom-auto rounded-none"
    aria-label="next slide"
    id="nextButton"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke="currentColor"
      fill="none"
      stroke-width="3"
      class="size-5 md:size-6 pl-0.5"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
    </svg>
  </button>
  <!-- slides -->
  <div class="relative min-h-[850px] w-full">
    <div class="absolute inset-0">
      <!-- Title and description -->
      <div
        class="lg:px-32 lg:py-52 absolute inset-0 z-10 flex flex-col items-start justify-center gap-5 bg-gradient-to-tl from-neutral-950/85 to-neutral-600/50 px-5 md:px-16 py-52 text-left"
      >
        <h4
          id="slideSubHeading"
          class="w-full lg:w-[80%] poppins-medium text-lg md:text-xl
        
        lg:text-2xl text-white"
          data-aos="fade-up"
        >
          {slide.subHeading}
        </h4>
        <h3
          id="slideTitle"
          class="w-full lg:w-[80%] poppins-extrabold text-4xl lg:text-5xl
        2xl:text-6xl
        font-bold text-white"
          data-aos="fade-up"
        >
          {slide.title}
        </h3>
        <p
          id="slideDescription"
          class="lg:w-1/2 w-full poppins-medium md:text-base lg:text-xl text-white"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          {slide.description}
        </p>
        <button
          id="slideButton"
          type="button"
          data-aos="fade-up"
          data-aos-delay="400"
          class="bg-gradient-to-r from-amber-500 to-yellow-500 text-white px-12 py-2 rounded-full font-semibold lg:text-lg transition duration-200 cursor-pointer"
        >
          {slide.ctaText}
        </button>
      </div>

      <Image
        data-aos="fade-in"
        id="slideImage"
        src={slide.imgSrc}
        alt={slide.imgAlt}
        class="absolute w-full h-full inset-0 object-cover text-neutral-300 dark:text-neutral-300"
      />
      <!-- <img
        id="slideImage"
        src="/bg-image.png"
        class="absolute w-full h-full inset-0 object-cover text-neutral-600 dark:text-neutral-300"
      /> -->
    </div>
  </div>

  <!-- indicators -->
  <!-- <div
    class="absolute rounded-md bottom-3 md:bottom-5 left-1/2 z-20 flex -translate-x-1/2 gap-4 md:gap-3 px-1.5 py-1 md:px-2"
    role="group"
    aria-label="slides"
  >
      <button class="size-2 cursor-pointer rounded-full transition" ></button>
  </div> -->
</div>

<script>
  const slides = [
    {
      imgSrc: "/bg-image.png",
      imgAlt:
        "Golden rice fields stretching to the horizon during sunset in Chhattisgarh, India",
      subHeading: "Welcome to Green Agri Corp",
      title: "India's Premier Rice Export Partner",
      description:
        "With state-of-the-art milling facilities in Chhattisgarh's rice bowl, we deliver premium Indian rice varieties to discerning customers across 25+ countries. Our commitment to quality and sustainability has made us a trusted name in global rice trade since 1973.",
      ctaUrl: "https://example.com",
      ctaText: "Request a Quote",
    },
    {
      imgSrc: "/bg-image2.webp",
      imgAlt:
        "Modern rice processing facility with solar panels and sustainable farming practices in action",
      subHeading: "Our Vision & Mission",
      title: "Nourishing the World, Sustainably",
      description:
        "We believe in creating lasting value through sustainable agriculture. Our integrated approach combines traditional farming wisdom with modern technology, ensuring food security while protecting our environment for future generations.",
      ctaUrl: "https://example.com",
      ctaText: "Learn More",
    },
    {
      imgSrc: "/bg-image.png",
      imgAlt:
        "Diverse team of agricultural experts and operations staff working together at Green Agri Corp",
      subHeading: "Our Team",
      title: "Expertise Meets Excellence",
      description:
        "Behind every grain we export is a dedicated team of agricultural experts, quality specialists, and supply chain professionals. Our people are our greatest asset, bringing decades of combined experience in rice cultivation, processing, and international trade.",
      ctaUrl: "https://example.com",
      ctaText: "Join Our Team",
    },
  ];
  // const slides = [
  //   {
  //     imgSrc: "/bg-image.png",
  //     imgAlt:
  //       "Vibrant abstract painting with swirling blue and light pink hues on a canvas.",
  //     subHeading: "Welcome to Green Agri Corp Pvt Ltd",
  //     title: "Your Trusted Source for Premium Indian Rice",
  //     // "Manufacturing and distributing premium-quality rice to aspiring nations for over 50 years.",
  //     description:
  //       "Green Agri Corp is a leading rice miller and exporter based in Chhattisgarh, India, a region renowned for its high-quality rice production.",
  //     // `With India's largest production facility, we proudly export over 300,000 tonnes of rice annually to 25 countries worldwide.`,
  //     ctaUrl: "https://example.com",
  //     ctaText: "Get a Quote",
  //   },
  //   {
  //     imgSrc: "/bg-image2.webp",
  //     imgAlt:
  //       "Vibrant abstract painting with swirling red, yellow, and pink hues on a canvas.",
  //     subHeading: "Our Mission",
  //     title: "Creating fair and sustainable value for future generations.",
  //     // smallTitle:
  //     //   "As a global agricultural merchant and processor we help provide sustenance for a growing population, working to create fair and sustainable value for the benefit of current and future generations.",
  //     description:
  //       "We are committed to sustainable farming practices and delivering the highest quality rice products to our customers.",
  //     ctaUrl: "https://example.com",
  //     ctaText: "Contact-Us",
  //   },
  //   {
  //     imgSrc: "/bg-image.png",
  //     imgAlt:
  //       "Vibrant abstract painting with swirling blue and purple hues on a canvas.",
  //     subHeading: "Our People",
  //     title: "",
  //     description: ``,
  //     ctaUrl: "https://example.com",
  //     ctaText: "Contact-Us",
  //   },
  // ];

  let currentSlideIndex = 0;

  function updateSlide() {
    const slide = slides[currentSlideIndex];
    const slideImage = document.getElementById("slideImage");
    const slideSubHeading = document.getElementById("slideSubHeading");
    const slideTitle = document.getElementById("slideTitle");
    const slideDescription = document.getElementById("slideDescription");
    const slideButton = document.getElementById("slideButton");

    setTimeout(() => {
      // Update slide content
      if (slideImage) {
        (slideImage as HTMLImageElement).src = slide.imgSrc;
        (slideImage as HTMLImageElement).alt = slide.imgAlt;
      }
      if (slideSubHeading) slideSubHeading.textContent = slide.subHeading;
      if (slideTitle) slideTitle.textContent = slide.title;
      if (slideDescription) slideDescription.textContent = slide.description;
      if (slideButton) {
        slideButton.textContent = slide.ctaText;
        slideButton.onclick = () => {
          window.location.href = slide.ctaUrl;
        };
      }

      // Add fade-out class
      if (slideImage) slideImage.classList.add("fade-leave");
      if (slideSubHeading) slideSubHeading.classList.add("fade-leave");
      if (slideTitle) slideTitle.classList.add("fade-leave");
      if (slideDescription) slideDescription.classList.add("fade-leave");
      if (slideButton) slideButton.classList.add("fade-leave");

      // Remove fade-out class and add fade-in class
      if (slideImage) slideImage.classList.remove("fade-leave-active");
      if (slideSubHeading)
        slideSubHeading.classList.remove("fade-leave-active");
      if (slideTitle) slideTitle.classList.remove("fade-leave-active");
      if (slideDescription)
        slideDescription.classList.remove("fade-leave-active");
      if (slideButton) slideButton.classList.remove("fade-leave-active");

      // Add fade-in class
      if (slideImage) slideImage.classList.add("fade-enter-active");
      if (slideSubHeading) slideSubHeading.classList.add("fade-enter-active");
      if (slideTitle) slideTitle.classList.add("fade-enter-active");
      if (slideDescription) slideDescription.classList.add("fade-enter-active");
      if (slideButton) {
        slideButton.classList.add("fade-enter-active");
        slideButton.style.display = "block";
      } else {
        slideButton!.style.display = "none";
      }

      setTimeout(() => {
        // Remove fade-in class
        if (slideImage) slideImage.classList.remove("fade-enter-active");
        if (slideSubHeading)
          slideSubHeading.classList.remove("fade-enter-active");
        if (slideTitle) slideTitle.classList.remove("fade-enter-active");
        if (slideDescription)
          slideDescription.classList.remove("fade-enter-active");
        if (slideButton) slideButton.classList.remove("fade-enter-active");
      }, 1000);
    }, 1);
  }

  let slideInterval = setInterval(() => {
    currentSlideIndex = (currentSlideIndex + 1) % slides.length;
    updateSlide();
  }, 5000);

  function resetInterval() {
    clearInterval(slideInterval);
    slideInterval = setInterval(() => {
      currentSlideIndex = (currentSlideIndex + 1) % slides.length;
      updateSlide();
    }, 5000);
  }

  document.getElementById("previousButton")?.addEventListener("click", () => {
    currentSlideIndex = (currentSlideIndex - 1 + slides.length) % slides.length;
    updateSlide();
    resetInterval();
  });

  document.getElementById("nextButton")?.addEventListener("click", () => {
    currentSlideIndex = (currentSlideIndex + 1) % slides.length;
    updateSlide();
    resetInterval();
  });
  // Add keyboard event listeners for arrow keys
  document.addEventListener("keydown", (event) => {
    if (event.key === "ArrowLeft") {
      currentSlideIndex =
        (currentSlideIndex - 1 + slides.length) % slides.length;
      updateSlide();
      resetInterval();
    } else if (event.key === "ArrowRight") {
      currentSlideIndex = (currentSlideIndex + 1) % slides.length;
      updateSlide();
      resetInterval();
    }
  });
  // Initialize the first slide

  updateSlide();
  // Initialize the first slide
  // updateSlide();
</script>
